<!--

指令模板只能有一个根元素，而不能像这样
<div></div>
<div></div>

-->
<div>
    <style>
        nav img.log{
            width: 170px;
            height: 30px;
        }
    </style>
    <nav class="navbar navbar-toggleable-md navbar-light bg-faded navbar-inverse bg-inverse">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a ui-sref="home">
            <img class="log" src="http://src.igauch.cn/angularjs-for-header-only.svg" alt="ANGULAR">
        </a>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item" ng-repeat="(k,v) in config track by k" ui-sref-active="active">
                    <a class="nav-link" ui-sref="{{k}}">{{v}}</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" placeholder="配置" ng-model="search">
                <!--

                如果要从隔离出来的作用域传递表达式到父作用域，则需要将其格式为键值对

                -->
                <button class="btn btn-outline-success my-2 my-sm-0" ng-click="clickFn({num:6})">点击</button>
            </form>
        </div>
        <!--

        与指令配合使用，用以插入HTML片段、指令相互嵌套等

        -->
        <ng-transclude class="text-white"></ng-transclude>
    </nav>
</div>